*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.nav {
    background-color: red;
    padding: 2rem;
}


.title {
    display: inline-block;
    width: 30%;
}

.text {
    width: 30%;

}

.submit-btn {

    width: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* styling the video container element */
.box1 {
    width: 70%;
    order: 0;
    padding: 2rem 6rem;

    border: 1px solid green;
}

/* styling the video player and its description and buttons */

.video-info {
    margin: 1rem;
}

.video-title {
    margin: .5rem 0;
}
.video-views {
    font-weight: 400;
    color: gray;
    display: inline-block;
}

.video-interaction {
    margin: .5rem;
    color: gray;
}

#like {
    margin-left: 60%;
}

.box2 {
    width: 30%;
    order: 1;
    padding: 1rem;

    border: 1px solid blue;
}

.box3 {
    width: 70%;
    order: 2;
    padding: 1rem 6rem;

    border: 1px solid purple;
}