*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.nav {
    background-color: red;
    padding: 2rem;
}


.title {
    display: inline-block;
    width: 30%;
}

.text {
    width: 30%;

}

.submit-btn {

    width: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* styling the video container element */
.box1 {
    width: 70%;
    order: 0;
    padding: 2rem 6rem;

    border: 1px solid green;
}

/* styling the video player and its description and buttons */

.video-info {
    margin: 1rem;
}

.video-title {
    margin: .5rem 0;
}

.video-views {
    font-weight: 400;
    color: gray;
    display: inline-block;
}

.video-interaction {
    margin: .5rem;
    color: gray;
    cursor: pointer;
}

#like {
    margin-left: 60%;
}

/* styling the description section */

.description {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    /* border: 1px solid green; */
}

.avatar {
    border-radius: 1000rem;
    display: inline-block;
    /* border: 1px solid red; */
    order: 0;
}

.image {
    max-width: 100%;
    max-height: 100%;
    height: 5rem;
    width: 5rem;
    border-radius: 1000rem;
    padding: .5rem;
}


.details {
    /* display: inline-block; */
    /* border: 1px solid purple; */
    order: 1;
    width: 72%;
    padding: .5rem 1rem;
}

.subscribe {
    width: 18%;
    height: 50px;
    order: 2;
    background-color: red;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.topic {
    order: 3;
    margin: 2rem auto;
}


/* styling the aside bar */
.box2 {
    width: 30%;
    order: 1;
    padding: .5rem;

    border: 1px solid blue;
}

.thumbnail {
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.thumbnail-img {
    max-width: 40%;
    display: inline-block;
}

.thumbnail-title {
    display: inline-block;
}

.thumbnail-text {
    display: inline-block;
}

.box3 {
    width: 70%;
    order: 2;
    padding: 1rem 6rem;

    border: 1px solid purple;
}